<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>27611045023-90aqdaltpduleu23tko0ispj8cjmit7q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.27611045023-90aqdaltpduleu23tko0ispj8cjmit7q</string>
	<key>API_KEY</key>
	<string>AIzaSyAVCvQpd5yhjOSukHJ8lRItGC8f8nEeSyg</string>
	<key>GCM_SENDER_ID</key>
	<string>27611045023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alkurn.Closed1</string>
	<key>PROJECT_ID</key>
	<string>closed1-3a9e3</string>
	<key>STORAGE_BUCKET</key>
	<string>closed1-3a9e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:27611045023:ios:bc6c216a73671cdb</string>
	<key>DATABASE_URL</key>
	<string>https://closed1-3a9e3.firebaseio.com</string>
</dict>
</plist>