<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>508911524229-p71hkn2gabalhmbd4m5slip9e23gutr1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.508911524229-p71hkn2gabalhmbd4m5slip9e23gutr1</string>
	<key>API_KEY</key>
	<string>AIzaSyCrDJk27sN9JYP9tP0JaGZMFxYSj_lPQTc</string>
	<key>GCM_SENDER_ID</key>
	<string>508911524229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Closed1LLC.Closed1</string>
	<key>PROJECT_ID</key>
	<string>closed1-llc</string>
	<key>STORAGE_BUCKET</key>
	<string>closed1-llc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:508911524229:ios:af0273ad45ad40ad</string>
	<key>DATABASE_URL</key>
	<string>https://closed1-llc.firebaseio.com</string>
</dict>
</plist>